@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500');

$fontName: 'Figtree';

$white: #ffffff;
$lightYellow: #ffffa4;
$purple: #7b7bb4;
$grey: #d5d5d5;
$blue: #8bacd5;
$navy: #31526a;

$textColor: $navy;