@import '../../sass/_variables.scss';

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    flex-grow: 1;
    background-color: $white;
    font-family: $fontName;
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    img {
        max-width: 50%;
    }

    .cardHeader {
        font-size: 22px;
        margin-top: 10%;
        margin-bottom: 0;
        font-weight: 400;
    }

    .cardCategory {
        margin-top: 5px;

        span {
            font-size: 12px;
            color: $purple;
            margin-left: 5px;
            font-weight: 300;
        }
    }
}