@import "../../sass/variables";

.table-card-container {
    margin-top: 30px;

    .table-card {
        @include cardDesign();
        box-shadow: $boxShadow-pop;
        padding: 0 !important;

        .card-header {
            padding: 10px 25px;
            background-color: aquamarine;
            align-self: stretch;

            p {
                font-weight: bold;
                font-family: $fontText;
                font-size: 24px;
                text-align: center;
            }
        }

        .card-content {
            align-self: stretch;
            justify-content: space-evenly;
            padding: 10px 20px;

            .table-row {
                flex-grow: 1;

                .row-item {
                    padding: 5px;
                }
            }

            .table-header {
                font-weight: bold;
            }
        }

    }
}