@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500&family=Vast+Shadow&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
  animation: animateGradient 2s ease-in-out infinite;
  background-size: 400% 400%;
  height: 100vh;
}
.main-container .content-container {
  display: flex;
  flex-direction: column;
  width: 75vw;
}
.main-container .content-container .main-logo {
  width: 300px;
  height: auto;
  align-self: center;
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}