@import 'sass/_variables.scss';


body {
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    animation: animateGradient 2s ease-in-out infinite;
    background-size: 400% 400%;
    height: 100vh;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100vw;

    .content-container {
        display: flex;
        flex-direction: column;
        width: 75vw;

        .main-logo {
            width: 300px;
            height: auto;
            align-self: center;
        }
    }
}

@keyframes animateGradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}